* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rukou", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: greenyellow;
}

header {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header h2 {
  padding-top: 30px;
}

#letra {
  font-size: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  resize: none;
}

.message {
  padding-top: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.respuesta {
  text-align: center;
  padding: 80px;
  padding: 50px;
}

.respuesta textarea {
  width: 75vw;
  height: 4rem;
  font-family: "montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: white;
  font-size: 20px;
}

#button {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
#button:hover {
  background-color: white;
  color: #1f1d1d;
  box-shadow: 0 0 1px 1px black;
}

#secret_word {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
